language: cpp
dist: trusty
sudo: required
script: make

deploy:
  provider: releases
  api_key:
    secure: af3e83a4804ef9f2ca27f3f4b2f2a4aae8abfaa4
  file: configure
  skip_cleanup: true
  on:
    tags: true